body {
    margin: 0;
    background: transparent;
    overflow: hidden;
}
#videoFrame.hidden {
    display: none;
}
#videoFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.208);
    opacity: 1;
    transition: opacity 0.5s ease;
}
.video-container {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.7);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#tutorialVideo {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#closeBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff4444;
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 10px; 
    cursor: pointer;
    width: 70px;
    height: 70px;
    z-index: 10;
    transition: background 0.3s ease;
}
#closeBtn:hover {
    background: #f58d8d;
}
